{% extends 'shared/index.html' %}
{% block header %}
<div class="header bg-success pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Entries list</h6>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
            {% for entry in entries %}
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <h5 class="card-title text-uppercase text-muted mb-0">{{ entry.date }}</h5>
                  <span class="h3 font-weight-bold mb-0">Buy: {{ entry.buy_price }}, Sell: {{ entry.sell_price }}</span>
                </div>
              </div>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
