{% extends 'shared/index.html' %}
{% load static %}
{% block header %}
<div class="header bg-success pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0"><span class="fa fa-money-bill-wave"></span> Dollar today</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Buy price</h5>
                                    <span class="h2 font-weight-bold mb-0">{{ entry.buy_price }}</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-orange text-white rounded-circle shadow">
                                    <i class="ni ni-chart-pie-35"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-sm">
                                {% if buy_percent >= 0 %}
                                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> {{ buy_percent|floatformat:2 }}%</span>
                                {% else %}
                                    <span class="text-warning mr-2"><i class="fa fa-arrow-down"></i> {{ buy_percent|floatformat:2 }}%</span>
                                {% endif %}
                                <span class="text-nowrap">Compared to yesterday</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Sell price</h5>
                                    <span class="h2 font-weight-bold mb-0">{{ entry.sell_price }}</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-orange text-white rounded-circle shadow">
                                    <i class="ni ni-chart-pie-35"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-sm">
                                {% if sell_percent >= 0 %}
                                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> {{ sell_percent|floatformat:2 }}%</span>
                                {% else %}
                                    <span class="text-warning mr-2"><i class="fa fa-arrow-down"></i> {{ sell_percent|floatformat:2 }}%</span>
                                {% endif %}
                                <span class="text-nowrap">Compared to yesterday</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Weekly comparison</h3>
                        </div>
                        <div class="col text-right">
                            <a href="{% url 'entries_list' %}" class="btn btn-sm btn-primary">See all</a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                <!-- Projects table -->
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Buy percent</th>
                            <th scope="col">Sell percent</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for week_entry in week_entries %}
                            <tr>
                                <th scope="row">
                                    {{ week_entry.entry.date }}
                                </th>
                                <td>
                                    {% if week_entry.buy_percent >= 0 %}
                                        <i class="fas fa-arrow-up text-success mr-3"></i>
                                    {% else %}
                                        <i class="fas fa-arrow-down text-warning mr-3"></i>
                                    {% endif %}
                                    {{ week_entry.buy_percent|floatformat:2 }}%
                                </td>
                                <td>
                                    {% if week_entry.sell_percent >= 0 %}
                                        <i class="fas fa-arrow-up text-success mr-3"></i>
                                    {% else %}
                                        <i class="fas fa-arrow-down text-warning mr-3"></i>
                                    {% endif %}
                                    {{ week_entry.sell_percent|floatformat:2 }}%
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}